.pay-button {
    text-align: center;
}

mat-card {
    &-header {
        margin-right: 50%;
        margin-left: 30%;
    }
    &-actions {
        & div {
            padding-top: 10px;
            font-size: smaller;
        }
    }
}

table {
    width: 100%;
}

tr.mat-footer-row {
    font-weight: bold;
}
  