<div>
    <div *ngIf="!loadComplete && loginType != 'cp'" class="spinnerContainer">
        <h2 (click)="redirectToPayment()" class="charging">Charging...</h2>
        <img src="assets/imgs/charge2.gif" alt="">
        <!-- <mat-spinner></mat-spinner> -->
    </div>
    <div *ngIf="loadComplete">
        <mat-card class="payment">
            <mat-card-content *ngIf="loginType != 'cp'">
                <h2 style="text-align: center;">Billing Summary</h2>
            </mat-card-content>
            <mat-card-header *ngIf="loginType == 'cp'">
                <h2>Reciept</h2>
            </mat-card-header>
            <mat-card-content class="billing-detailss">
                <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
                    <!-- Item Column -->
                    <ng-container matColumnDef="item">
                        <th mat-header-cell *matHeaderCellDef><h3>Description</h3> </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
                        <td mat-footer-cell *matFooterCellDef> Total Bill </td>
                    </ng-container>

                    <!-- Cost Column -->
                    <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef><h3>Value</h3>  </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.value}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{totalAmount | currency:'GBP'}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                </table>
                
            </mat-card-content>
            <mat-card-actions class="pay-button" *ngIf="loginType != 'cp'">
                <a mat-raised-button color="primary" (click)="paymentSuccess()">Pay</a>
                <div>*This is an electronically generated invoice, no signature is required</div>
            </mat-card-actions>
            <mat-card-actions class="pay-button" *ngIf="loginType == 'cp'">
                <div>*This is an electronically generated invoice, no signature is required</div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>