<mat-card>
    <mat-card-content>
      <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">search</mat-icon>
                Search
            </ng-template>
            <bgev-map></bgev-map>           
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">history</mat-icon>
                History            
            </ng-template>
            asdglkj
              <!-- <mat-list *ngIf="requests.length > 0">
                <mat-list-item *ngFor="let request of requests; let indx = index">
                  <mat-icon matListIcon>how_to_reg</mat-icon>
                  <h3 matLine> <strong>Name:</strong> {{request.name}} </h3>
                  <p matLine> <strong>Type:</strong> {{request.type}} </p>
                  <p matLine class="demo-2"> <strong>Date: </strong> {{request.date}} </p>                  
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>               -->
        </mat-tab>        
      </mat-tab-group>
    </mat-card-content>
</mat-card>
