<mat-card class="example-card">
    
    <img mat-card-image src="/assets/imgs/profile_pic.png" alt="Profile Pic">
    <mat-card-actions class="buttons">
        <button mat-raised-button color="warn">Cancel</button>
        <button mat-raised-button color="primary">Request</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
        <h3>Owner Details</h3>
    </mat-card-header>
    <mat-card-content>
        <table>
            <tr><td><strong>Owner Name</strong></td><td><strong>:</strong></td><td>{{chargePointDetails.owner}}</td></tr>
            <tr><td><strong>Location</strong></td><td><strong>:</strong></td><td>{{chargePointDetails.place}}</td></tr>
        </table>    
    </mat-card-content>

  </mat-card>
  <mat-card>
      <mat-card-header>
          <h3>Charge Point Details</h3>
      </mat-card-header>
  <mat-card-content>
    <table>
        <tr><td><strong>Type</strong></td><td><strong>:</strong></td><td>{{chargePointDetails.typesAvailable}}</td></tr>
        <tr><td><strong>Pricing</strong></td><td><strong>:</strong></td><td>{{chargePointDetails.pricing | currency:"GBP"}}/hr</td></tr>
    </table>   
    <mat-progress-spinner mode="determinate" value=70>
        <h3 class="rating">4</h3>
    </mat-progress-spinner> 
</mat-card-content>
</mat-card>

  <mat-card class="example-card">
      <mat-card-header>
          <h3>Amenties</h3>
      </mat-card-header>
    <mat-card-content>
        <mat-icon matSuffix>{{chargePointDetails.amenties[0].icon}}</mat-icon>
        <p>{{chargePointDetails.amenties[0].icon_name}}</p>
    </mat-card-content>
  </mat-card>

  