.login-actions {
    margin: auto;
    text-align: center;
}

#selectType {
    margin-bottom: 2%;
    text-align: center;
    & > span {
        padding: 2%;
    }
}

.ngx-timepicker-field-example {
    margin-bottom: 10px;
}

.timeinput {
    width: 90%;
}

.input_form {
    display: block;
}