<!-- <div *ngIf="!loadComplete" class="spinnerContainer">
    <img src="assets/imgs/charge2.gif" alt="">
</div>
<div *ngIf="loadComplete"> -->
<div>    
    <mat-card class="login-card">
        <mat-card-header>
            <h4 class="headingcenter">Have an account with us?</h4>
        </mat-card-header>
        <mat-card-content>
            <form>
                <mat-form-field appearance="outline">
                    <mat-label>Email/Mobile No</mat-label>
                    <!-- <input #login_id name="login_id" matInput type="text" placeholder="Email/Mobile" required> -->
                    <input matInput placeholder="pat@pat.com" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    <mat-icon matSuffix>verified_user</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" type="password" [formControl]="password" required>
                    <mat-error *ngIf="password.invalid">{{getPasswordErrorMsg()}}</mat-error>
                    <mat-icon matSuffix>vpn_key</mat-icon>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions class="login-actions">
            <a mat-raised-button color="primary" (click)="login()">Sign In</a>
            <div>
                <a mat-button color="primary" href="https://www.britishgas.co.uk/" target="_blank">Already a British Gas customer?</a>
            </div>
            <div>                
                <a mat-button color="primary" (click)="redirectToRegister()">New User? Sign Up</a>
            </div>
        </mat-card-actions>
    </mat-card>
</div>