<div class="container">
    <div *ngIf="!loadComplete" class="spinnerContainer">
        <img src="assets/imgs/charge2.gif" alt="">
        <!-- <mat-spinner></mat-spinner> -->
    </div>
    <div *ngIf="loadComplete">
        <h4>Please Enter Your Details</h4>
        <mat-divider></mat-divider>
        <div class="example-container">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" [(ngModel)] = "name">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Mobile No</mat-label>
                <input matInput placeholder="Mobile No" [(ngModel)]="mobile">
                <mat-icon matSuffix>smartphone</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" [(ngModel)]="email">
                <mat-icon matSuffix>contact_mail</mat-icon>
            </mat-form-field>
        </div>
        <div class="example-container">
            <h4>Payment Method</h4>
            <mat-divider></mat-divider>

            <mat-form-field>
                <mat-label>Name on Card</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Credit/Debit Card Number</mat-label>
                <input matInput type="number" maxlength="16">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Expiry Date</mat-label>
                <input matInput type="string" placeholder="MM/YY" maxlength="5">
            </mat-form-field>

        </div>
        <div class="login-actions">
            <button mat-raised-button color="primary" (click)="registeredUser(name,mobile, email)">Submit</button>
            <a mat-raised-button color="primary" routerLink="/home">Back</a>
        </div>
    </div>
</div>