.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }

.login-card {
  padding: 0;
}

.login-actions {
  margin: auto;
  text-align: center;
  
}

.login-actions a {
  margin-bottom: 20px;
}