<div>
    <div *ngIf="!loadComplete" class="spinnerContainer">
        <img src="assets/imgs/charge2.gif" alt="">
        <!-- <mat-spinner></mat-spinner> -->
    </div>
    <div *ngIf="loadComplete">
        <h4>Please Enter Your Details</h4>
        <mat-divider></mat-divider>
        <div class="example-container">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" [(ngModel)]= "name">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Mobile No</mat-label>
                <input matInput placeholder="Mobile No" [(ngModel)] = "mobile">
                <mat-icon matSuffix>smartphone</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" [(ngModel)] = "email">
                <mat-icon matSuffix>contact_mail</mat-icon>
            </mat-form-field>
        </div>
        <div class="example-container" *ngFor = "let container of containers" >
            <mat-label><strong>Connector Type</strong></mat-label>
            <section class="example-section">
                <mat-radio-button class="example-margin" color="primary">Type 1</mat-radio-button>
                <mat-radio-button class="example-margin" color="primary">Type 2</mat-radio-button>
                <mat-radio-button class="example-margin" color="primary">CHAdeMo</mat-radio-button>
                <mat-radio-button class="example-margin" color="primary">CCS</mat-radio-button>
                <mat-radio-button class="example-margin" color="primary">Tesla Type 2</mat-radio-button>
                <mat-radio-button class="example-margin" color="primary">Untethered</mat-radio-button>
            </section>

            <mat-label><strong>Current type</strong></mat-label>
            <section class="example-section">
                <mat-radio-button class="example-margin" color="primary">AC</mat-radio-button>
                <mat-radio-button class="example-margin" color="primary">DC</mat-radio-button>
            </section>

            <mat-label><strong>Availablity</strong></mat-label>
            <mat-form-field appearance="outline">
                <mat-label>From</mat-label>
                <input matInput placeholder="From">
                <mat-icon matSuffix>access_time</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>To</mat-label>
                <input matInput placeholder="To">
                <mat-icon matSuffix>access_time</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Price</mat-label>
                <input matInput placeholder="Price">
                <mat-icon matSuffix>euro</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Rated Power</mat-label>
                <input matInput placeholder="kW">
            </mat-form-field>
            
        </div>
        <div>
            <mat-label><strong>Would you like to add another connector?</strong></mat-label>
            <mat-icon matSuffix style="vertical-align: middle;" (click) = "addConnector()">add_circle</mat-icon>
        </div>
        <div class="example-container">
            <mat-label><strong>Amenities Available</strong></mat-label>
            <mat-grid-list cols="3" fit>
                <mat-grid-tile *ngFor="let icon of amenities; let indx = index">
                    <mat-checkbox color="primary" class="amenity_icon">

                    </mat-checkbox>
                    <div class="amenity_description">{{icon.icon_name}}</div>
                </mat-grid-tile>
            </mat-grid-list>
            <div class="login-actions">
                <button mat-raised-button color="primary" (click)="registerUser(name, mobile, email)">Submit</button>
                <a mat-raised-button color="primary" routerLink="/home">Back</a>
            </div>
        </div>
    </div>
</div>